# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Database backups and scripts
players_backup*
*.csv
/src/scripts/
/scripts/

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
.idea/
.vscode/

# Firebase
.firebase/
!.firebase/test-data/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json
firebase-export-1738779286864glMt8B/firebase-export-metadata.json
firebase-export-1738779286864glMt8B/auth_export/accounts.json
firebase-export-1738779286864glMt8B/auth_export/config.json
firebase-export-1738779286864glMt8B/firestore_export/firestore_export.overall_export_metadata
firebase-export-1738779286864glMt8B/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1738779286864glMt8B/firestore_export/all_namespaces/all_kinds/output-0
/src/emulator-data
players_set14_backup_2025-03-30T22-00-55-346Z.json
players_set14_backup_2025-03-31T02-43-17-674Z.json
players_set14_backup_2025-03-31T02-52-41-104Z.json
players_set14_backup_2025-03-31T03-25-05-915Z.json
players_set14_backup_2025-03-31T03-28-55-969Z.json
players_set14_backup_2025-03-31T03-35-19-096Z.json
players_set14_backup_2025-03-31T22-04-27-428Z.json
players_set14_backup_2025-04-18T17-40-58-847Z.json
